

.App {
  text-align: center;
}

.App-logo {
  
  height: 15vmin;
}

.nav {
  background-color: #FDD7E4;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
}

.nav-links {
  width:50%;
  display:flex;
  justify-content:space-around;
  align-items: center;
  color: #FF00FF;
  list-style:none ;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  .nav {
    background-color: #FDD7E4;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  .nav {
    background-color: #FDD7E4;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    
  }
}
